
// 面板色彩
$mainColor: #4076FF;
$mainPanelWidth: 840px;

// 文字色彩
$mainFontColor: #303133;
$fadeFontColor: #606266;
$fontHover: $mainColor;
$lightFontColor: #DDD;
$lightFontHoverColor: #FFF;

// 文字字体
$mainFont: 16px;
$minSizeFont: 14px;
$emphasizeSizeFont: 18px;

// 字体
$mainFontFamily: "Microsoft YaHei";
