
// 面板色彩
$mainColor: #4076FF;
$mainPanelWidth: 840px;

// 文字色彩
$mainFontColor: #303133;
$fadeFontColor: #606266;
$fontHoverColor: $mainColor;
$notAllowedFontColor: #818181;
$lightFontColor: #DDD;
$lightFontHoverColor: #FFF;

// 文字字体
$mainFontSize: 16px;
$miniFontSize: 14px;
$emphasizeFontSize: 18px;

// 字体
$mainFontFamily: "Microsoft YaHei";
