@import "./common/style/commonValue";

.App {
  * {
    font-family: $mainFontFamily;
  }
  ul, menu, dir {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
  }
  ul, ol {
    list-style: none;
  }
}

.app-header {
  width: 100%;
  height: 45px;
  background-color: $mainColor;
  line-height: 45px;
  .main-container {
    max-width: $mainPanelWidth;
    margin: 0 auto;
  }
  .nav-list {
    text-align: left;
    font-size: 0;
    li {
      display: inline-block;
      vertical-align: top;
      padding: 0 10px;
      font-size: $mainFontSize;
      color: $lightFontColor;
      cursor: pointer;
      &:hover, &.active {
        color: $lightFontHoverColor;
      }
      & + li {
        margin-left: 20px;
      }
    }
  }
}